---
import Layout from "../layouts/layout.astro";
import { Image } from "astro:assets";
import display from "../content/images/owenkg.JPG";
---

<Layout title="George Owen Kivumbi">
	<main class="mx-5 my-5">
		<div class="grid grid-cols-4 gap-3">
			<div class="-red-500"></div>

			<div class="col-span-2 -green-500">
				<div class="grid grid-cols-2">
					<div class="-orange-500 flex justify-center">
						<Image
							src={display}
							alt="display_picture"
							class="inline-block w-40 rounded-full ring-2 ring-white"
						/>
					</div>
					<div class="-pink-500">
						<h2 class="font-light text-2xl">George Owen Kivumbi</h2>
						<h3 class="font-bold text-xl">Fullstack Developer</h3>

						<p class="text-base">
							@: <a
								href="mailto:owenkg1@outlook.com"
								class="hover:text-blue-500"
								>owenkg1@outlook.com</a
							>
						</p>
						<p class="text-base">
							#: <a
								href="tel:+256776929106"
								class="hover:text-blue-500"
								>+256&#40;0&#41;776929106</a
							>, <a
								href="tel:+256759192997"
								class="hover:text-blue-500"
								>+256&#40;0&#41;759192997</a
							>
						</p>
					</div>
				</div>

				<div class="my-5"></div>

				<div class="">
					<div class="w-full flex justify-center">
						<h3 class="font-bold text-xl">Other Links</h3>
					</div>

					<div class="w-full flex justify-center">
						<ul class="list-none grid grid-cols-3 gap-2">
							<li class="">
								<a
									href="https://github.com/owenkg/owenkg"
									target="_blank"
									class="hover:text-blue-500">GitHub</a
								>
							</li>

							<li class="">
								<a
									href="https://gitlab.com/owenkg"
									target="_blank"
									class="hover:text-blue-500">GitLab</a
								>
							</li>

							<li class="">
								<a
									href='https://www.linkedin.com/in/george-owen-kivumbi-17985616b/""'
									target="_blank"
									class="hover:text-blue-500">LinkedIn</a
								>
							</li>
						</ul>
					</div>
				</div>

				<div class="my-5"></div>

				<div class="">
					<div class="w-full flex justify-center">
						<h3 class="font-bold text-xl">Tech</h3>
					</div>

					<div>
						<ul
							class="w-full list-none grid grid-cols-5 gap-1 px-1"
						>
							<li
								class="-yellow-500 flex justify-center align-middle"
							>
								<p>NodeJS</p>
							</li>

							<li
								class="-yellow-500 flex justify-center align-middle"
							>
								<p>ExpressJS</p>
							</li>

							<li
								class="-yellow-500 flex justify-center align-middle"
							>
								<p>ReactJS</p>
							</li>

							<li
								class="-yellow-500 flex justify-center align-middle"
							>
								<p>Django</p>
							</li>

							<li
								class="-yellow-500 flex justify-center align-middle"
							>
								<p>Flask</p>
							</li>

							<li
								class="-yellow-500 flex justify-center align-middle"
							>
								<p>Docker</p>
							</li>

							<li
								class="-yellow-500 flex justify-center align-middle"
							>
								<p>AWS EC2</p>
							</li>

							<li
								class="-yellow-500 flex justify-center align-middle"
							>
								<p>Google Cloud</p>
							</li>

							<li
								class="-yellow-500 flex justify-center align-middle"
							>
								<p>Firebase</p>
							</li>

							<li
								class="-yellow-500 flex justify-center align-middle"
							>
								<p>Figma</p>
							</li>

							<li
								class="-yellow-500 flex justify-center align-middle"
							>
								<p>Linux</p>
							</li>

							<li
								class="-yellow-500 flex justify-center align-middle"
							>
								<p class="">MongoDB</p>
							</li>

							<li
								class="-yellow-500 flex justify-center align-middle"
							>
								<p class="">MySQL</p>
							</li>

							<li
								class="-yellow-500 flex justify-center align-middle"
							>
								<p class="">PostgreSQL</p>
							</li>

							<li
								class="-yellow-500 flex justify-center align-middle"
							>
								<p class="">MySQL</p>
							</li>
						</ul>
					</div>
				</div>

				<div class="my-5"></div>

				<div class="">
					<div class="w-full flex justify-center">
						<h3 class="font-bold text-xl">Work</h3>
					</div>

					<div class="my-5"></div>

					<div class="w-full grid grid-cols-2 gap-2">
						<div
							class="bg-gradient-to-r from-slate-300 to-gray-300 rounded-md mx-auto p-2"
						>
							<div class="">
								<h2 class="font-semibold text-3xl">
									<a
										href="https://mobileshop.ug/"
										target="_blank"
										class="hover:text-blue-500"
										>Mobileshop UG</a
									>
								</h2>

								<p class=" font-light text-base">
									A E-Commerce platform selling electronics
									like phones, computers, televisions etc
								</p>
							</div>
						</div>

						<div
							class="bg-gradient-to-r from-slate-300 to-gray-300 rounded-md mx-auto p-2"
						>
							<div class="">
								<h2 class="font-semibold text-3xl">
									<a
										href="https://cocky-tesla-d8dfaf.netlify.app"
										target="_blank"
										class="hover:text-blue-500"
										>Radio Browsing</a
									>
								</h2>

								<p class=" font-light text-base">
									A web application that can be used to search
									for text that has been mentioned in radio recordings.
								</p>
							</div>
						</div>
						
						<div
							class="bg-gradient-to-r from-slate-300 to-gray-300 rounded-md mx-auto p-2"
						>
							<div class="">
								<h2 class="font-semibold text-3xl">
									<a href="javascript;" class="hover:text-blue-500"
										>AgriPredict App</a
									>
								</h2>

								<p class=" font-light text-base">
									A mobile application to enable farmers
									predict market prices of their produce.
								</p>
							</div>
						</div>
						
						<div
							class="bg-gradient-to-r from-slate-300 to-gray-300 rounded-md mx-auto p-2"
						>
							<div class="">
								<h2 class="font-semibold text-3xl">
									<a
										href="javascript;"
										target="_blank"
										class="hover:text-blue-500"
										>Afriware Business Manager</a
									>
								</h2>

								<p class=" font-light text-base">
									An online platform for managing small business needs.
								</p>
							</div>
						</div>
						
						<div
							class="bg-gradient-to-r from-slate-300 to-gray-300 rounded-md mx-auto p-2"
						>
							<div class="">
								<h2 class="font-semibold text-3xl">
									<a
										href="javascript;"
										target="_blank"
										class="hover:text-blue-500"
										>Atina Glow Initiatives</a
									>
								</h2>

								<p class=" font-light text-base">
									A blog about non-communicable diseases
								</p>
							</div>
						</div>
						
						<!--<div
							class="bg-gradient-to-r from-slate-300 to-gray-300 rounded-md mx-auto p-2"
						>
							<div class="">
								<h2 class="font-semibold text-3xl">
									<a
										href="https://mobileshop.ug/"
										target="_blank"
										class="hover:text-blue-500"
										>Mobileshop UG</a
									>
								</h2>

								<p class=" font-light text-base">
									A E-Commerce platform selling electronics
									like phones, computers, televisions etc
								</p>
							</div>
						</div> -->


					</div>
				</div>
			</div>
		</div>

		<div class="-blue-500"></div>
	</main>
</Layout>
