---
// import display from "../content/images/owenkg.JPG";

interface Props {
	title: string;
	description?: string;
	image?: string;
}

const {
	title,
	description = "Fullstack Developer",
	// image = "/images/owenkg.JPG",
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- <meta name="generator" content={Astro.generator} /> -->
		<meta property="og:title" content={title} />
		<meta
			property="og:description"
			content="Fullstack Web Developer"
		/>
		<meta property="og:image" content="/images/owenkg.JPG" />
		<meta property="og:url" content="https://owenkg.github.io/portfolio" />
		<meta property="og:type" content="portforlio" />
		<meta property="og:locale" content="en_US" />
		<meta
			property="og:site_name"
			content="Fullstack Web Developer base in Kampala, Uganda"
		/>
		<title>{title}</title>
	</head>
	<body class="min-h-screen bg-slate-200">
		<slot />
	</body>
</html>
